$white-color: #ffffff;
$text-color: #ffffff;
$text-footer-color: #1a1a1a;
$main-color: #f84545;
$bg-color: #ffffff;
$bg-dark-color: #000000;
$mobile-width: 320px;
$tablet-width: 744px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
